<a href="https://colab.research.google.com/github/LuisSilvaS/Notebooks_Data-science/blob/main/Balanceando_Classes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
!python --version

Python 3.8.16

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
ds = pd.read_csv("/faces.csv")
df = ds.drop(columns=['Unnamed: 0'])

In [ ]:
df

,0,1,2,3,4,5,6,7,8,9,...,119,120,121,122,123,124,125,126,127,target
0,0.829912,1.061662,1.185001,2.258663,3.001352,1.552293,1.410400,-1.258673,-0.914339,-2.495818,...,-1.792360,0.573776,-2.921919,0.691901,2.020560,0.715667,0.923791,1.752915,-3.026265,Aaron_Eckhart
1,0.474894,1.150886,1.274177,2.440088,2.467688,2.034386,1.213321,-1.543440,-1.017727,-2.922984,...,-2.503885,0.782592,-3.043738,0.784799,2.043508,0.975139,0.755722,1.884744,-3.020476,Aaron_Eckhart
2,0.552209,0.851182,1.341329,2.149595,2.700470,1.540714,0.873655,-1.559081,-1.000587,-2.482453,...,-2.211167,0.664137,-3.119443,0.428448,1.923616,0.911005,0.623763,1.698612,-2.731363,Aaron_Eckhart
3,0.550864,1.722460,0.966495,1.460703,1.889776,1.776710,1.671614,-1.774059,-1.819750,-4.085651,...,-3.007552,1.685337,-3.115321,1.944019,1.604864,0.555490,-0.082005,1.142606,-3.359030,Aaron_Eckhart
4,0.233800,1.977882,1.377205,1.204984,2.230107,1.856627,1.761129,-2.222426,-1.912555,-4.522808,...,-3.533263,2.045367,-3.721088,2.143492,1.893440,0.146307,0.565038,1.845896,-3.572690,Aaron_Eckhart
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11995,1.154870,2.860876,0.450821,-0.262768,1.302428,1.545433,0.774128,-2.442196,-1.710449,-5.255472,...,-2.140757,1.591835,-3.745684,3.682745,2.033160,-0.403767,0.564100,1.852071,-3.699238,Zurab_Tsereteli
11996,1.145323,2.748007,0.117930,0.724799,1.448204,2.253423,1.367286,-3.210494,-1.665930,-4.966767,...,-1.903780,1.179900,-2.500444,3.133413,0.772437,-0.256470,0.009294,1.591813,-4.914282,Zurab_Tsereteli
11997,0.089946,0.830327,1.070200,0.983064,2.347783,2.646693,2.437767,-2.716026,-1.683022,-4.548395,...,-4.232787,2.643700,-3.842302,2.610249,2.659929,-0.148140,0.785589,3.011226,-4.035989,Zydrunas_Ilgauskas
11998,1.191038,1.950142,1.059780,0.347186,2.710961,2.735057,0.975503,-2.842972,-0.768274,-4.380380,...,-3.014091,1.133133,-2.976071,2.981724,2.448762,-0.295328,0.862995,2.602479,-3.598311,Zydrunas_Ilgauskas
11999,0.850712,1.973563,0.861236,-0.005988,2.439733,2.333976,0.466719,-2.804527,-0.795719,-4.360597,...,-2.762471,1.157888,-3.168849,2.600078,2.316453,0.144369,0.860912,2.632820,-3.556777,Zydrunas_Ilgauskas

In [ ]:
X = df.drop('target', axis=1) 
y = df['target']

In [ ]:
#!pip install imblearn

In [ ]:
from imblearn.under_sampling import RandomUnderSampler  

under_sampler = RandomUnderSampler()
X_res, y_res = under_sampler.fit_resample(X, y)

In [ ]:
df = pd.DataFrame(X_res)
df = df.assign(target = y_res)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2996 entries, 0 to 2995
Columns: 129 entries, 0 to target
dtypes: float64(128), object(1)
memory usage: 2.9+ MB

In [ ]:
df

,0,1,2,3,4,5,6,7,8,9,...,119,120,121,122,123,124,125,126,127,target
0,2.004334,3.879037,2.040535,0.433677,3.442449,2.870431,1.735796,-3.062629,-2.096634,-5.816076,...,-4.400371,1.157318,-3.983898,3.603569,1.652357,-0.076859,1.901668,1.506664,-4.719985,AJ_Lamas
1,0.552209,0.851182,1.341329,2.149595,2.700470,1.540714,0.873655,-1.559081,-1.000587,-2.482453,...,-2.211167,0.664137,-3.119443,0.428448,1.923616,0.911005,0.623763,1.698612,-2.731363,Aaron_Eckhart
2,-1.037848,1.028804,2.195733,1.863171,2.713289,3.484635,4.323343,-3.384397,-1.514646,-6.899001,...,-4.183755,0.671430,-4.955913,3.611372,3.004787,-1.064841,3.019792,4.316894,-5.766635,Aaron_Guiel
3,0.932119,0.946576,0.356049,1.127565,1.587442,0.683708,0.826390,-0.999201,-0.726428,-2.927332,...,-2.040626,1.208296,-1.823117,1.538684,1.234427,1.141014,0.151949,0.815302,-1.911891,Aaron_Peirsol
4,0.333353,1.743069,1.193162,1.863042,1.309210,2.972258,0.783601,-1.408045,-1.320141,-3.527896,...,-2.608738,1.545824,-3.211563,1.647861,2.290570,0.621213,0.178637,1.801135,-1.696001,Aaron_Sorkin
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2991,2.467662,3.797444,0.381344,0.076063,1.206249,1.720125,4.165783,-3.187156,-2.933383,-4.444716,...,-1.375051,2.859010,-2.430462,3.090596,1.088969,-1.117407,-0.669027,0.614642,-4.223270,Zoe_Ball
2992,-0.064376,1.833733,2.257980,1.697094,1.819436,2.703961,1.585498,-1.792881,-2.050704,-4.579911,...,-4.048976,2.233570,-3.934279,2.128507,2.414738,0.363694,0.368340,2.298478,-2.518242,Zoran_Djindjic
2993,1.020689,1.381628,0.193139,1.503277,2.680217,1.840433,2.148216,-2.259237,-1.589406,-4.331768,...,-1.987268,1.609863,-3.086739,2.969927,1.973350,-0.047515,0.730276,0.970241,-3.726489,Zorica_Radovic
2994,1.154870,2.860876,0.450821,-0.262768,1.302428,1.545433,0.774128,-2.442196,-1.710449,-5.255472,...,-2.140757,1.591835,-3.745684,3.682745,2.033160,-0.403767,0.564100,1.852071,-3.699238,Zurab_Tsereteli
2995,0.089946,0.830327,1.070200,0.983064,2.347783,2.646693,2.437767,-2.716026,-1.683022,-4.548395,...,-4.232787,2.643700,-3.842302,2.610249,2.659929,-0.148140,0.785589,3.011226,-4.035989,Zydrunas_Ilgauskas

In [ ]:
df.to_csv('faces_val.csv')